@import "./bootstrap-variables.scss";
@import "bootstrap/scss/bootstrap";
@import "./bootstrap-theme.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

.card-middle-top-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; /* Adjust the width as needed */
  height: 80px; /* Adjust the height as needed */
  background-color: black;
  border-radius: 50%;
  margin-top: -40px; /* Half of the circle height to make it half inside the card */
  margin-left: 50%; /* Center the circle horizontally */
  transform: translateX(-50%); /* Adjust to center the circle properly */
}

/* Optional: Center the circle horizontally within the card header */
.card-header.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.green {
  color: #3a5f3d;
}

.dark-orange {
  color: #833c01;
}

.highest-bg {
  background-color: #ff9999 !important;
}

.high-bg {
  background-color: #ffc2c2 !important;
}

.medium-bg {
  background-color: #ffc002 !important;
}

.low-bg {
  background-color: #93d050 !important;
}

.lowest-bg {
  background-color: #03b050 !important;
}

.visually-hidden {
  color: transparent;
}
.no-top-border {
  border-top: none;
}

.nav-menu-active,
.nav-menu-active:hover {
  background-color: #6e3acf;
  color: white;
}

.submenu {
  color: black;
  text-decoration: none;
}
.submenu:hover {
  background-color: white;
}

.submenu-border {
  box-shadow: 0 20px 20px rgba(180, 22, 22, 0.1); /* Adjust the shadow values */
  border-bottom: 0.01px solid #d9d9d9;
  z-index: 10;
}

.submenu:hover {
  text-decoration: none;
  cursor: pointer;
}

.nav {
  background-color: white;
}
.navbar-nav,
.navbar-nav:hover {
  color: white;
}
.submenu .active {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Set the desired thickness */
  text-decoration-color: #bf00a4; /* Set the desired underline color */
  text-underline-offset: 10px; /* Set the desired space between the line and the text */
  text-decoration-skip-ink: none; /* Ensure the underline is not skipped over descenders */
  color: black;
}

.active-submenu {
  text-decoration: none;
}
.pointer-cursor {
  cursor: pointer;
}

h1,
.h1 {
  font-size: 1.9rem;
}
