@import "./bootstrap-variables.scss";
@import "bootstrap/scss/bootstrap";
@import "./bootstrap-theme.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

.card-middle-top-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px; /* Adjust the width as needed */
  height: 80px; /* Adjust the height as needed */
  background-color: black;
  border-radius: 50%;
  margin-top: -40px; /* Half of the circle height to make it half inside the card */
  margin-left: 50%; /* Center the circle horizontally */
  transform: translateX(-50%); /* Adjust to center the circle properly */
}

/* Optional: Center the circle horizontally within the card header */
.card-header.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.green {
  color: #3a5f3d;
}

.dark-orange {
  color: #833c01;
}

.highest-bg {
  background-color: #ff9999 !important;
}

.high-bg {
  background-color: #ffc2c2 !important;
}

.medium-bg {
  background-color: #ffc002 !important;
}

.low-bg {
  background-color: #93d050 !important;
}

.lowest-bg {
  background-color: #03b050 !important;
}

.visually-hidden {
  color: transparent;
}
.no-top-border {
  border-top: none;
}

.submenu {
  background-color: #93d050;
}
